@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.mainHeading {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    font-family: 'raleway';
    color: #252432;
}

.mainHeadinginter {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    font-family: 'inter';
    color: #252432;
}

.subHeading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'inter';
    color: #252432;
}

.subParagraphText20 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'inter';
    color: #8987A1;
}

.paragraphText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'inter';
    color: #8987A1;
}

.paragraphTextbtn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'inter';
    color: rgba(255, 255, 255, 1);
}

.subParagraphText {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'inter';
    color: #8987A1;
}

.subParagraphTextBlack {
    font-size: 14px;
    line-height: 25.2px;
    font-weight: 400;
    font-family: 'inter';
    color: rgba(37, 36, 50, 1);
}

.railway3440 {
    font-size: 34.07px;
    line-height: 40.88px;
    font-weight: 700;
    font-family: 'raleway';
    color: #252433;
}

.subParagraphText1821black {
    font-size: 18px;
    font-weight: 700;
    color: #252433;
    font-family: "raleway";
}

.enter {
    font-family: 'inter';
}

.railway3036 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-family: 'raleway';
    color: rgba(37, 36, 50, 1);
}

/* Media Queries */


@media (max-width: 1024px) {
    .mainHeading {
        font-size: 48px;
        line-height: 60px;
    }

    .mainHeadinginter {
        font-size: 48px;
        line-height: 60px;
    }

    .subHeading {
        font-size: 18px;
        line-height: 22px;
    }

    #heart_icon {
        width: 20px;
        height: 18px;
    }

    .subParagraphText20 {
        font-size: 18px;
        line-height: 28px;
    }

    .paragraphText {
        font-size: 14px;
        line-height: 20px;
    }

    .paragraphTextbtn {
        font-size: 14px;
        line-height: 20px;
    }

    .subParagraphText {
        font-size: 12px;
        line-height: 18px;
    }

    .subParagraphTextBlack {
        font-size: 12px;
        line-height: 22px;
    }

    .railway3440 {
        font-size: 28.07px;
        line-height: 34.88px;
    }

    .subParagraphText1821black {
        font-size: 16px;
        font-weight: 700;
    }

    .railway3036 {
        font-size: 24px;
        line-height: 30px;
    }
}



@media (max-width: 767px) {
    .mainHeading {
        font-size: 32px;
        line-height: 40px;
    }

    .mainHeadinginter {
        font-size: 32px;
        line-height: 40px;
    }

    .subHeading {
        font-size: 16px;
        line-height: 22px;
    }

    .subParagraphText20 {
        font-size: 16px;
        line-height: 22px;
    }

    .paragraphText {
        font-size: 14px;
        line-height: 20px;
    }

    .paragraphTextbtn {
        font-size: 14px;
        line-height: 20px;
    }

    .subParagraphText {
        font-size: 12px;
        line-height: 18px;
    }

    .subParagraphTextBlack {
        font-size: 12px;
        line-height: 18px;
    }

    .railway3440 {
        font-size: 24.07px;
        line-height: 30.88px;
    }

    .subParagraphText1821black {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    .railway3036 {
        font-size: 20px;
        line-height: 24px;
    }

}



@media (max-width: 479px) {
    .mainHeading {
        font-size: 24px;
        line-height: 30px;
    }

    .mainHeadinginter {
        font-size: 24px;
        line-height: 30px;
    }

    .subHeading {
        font-size: 12px;
        line-height: 16px;
    }

    .subHeading {
        font-size: 14px;
        line-height: 18px;
    }

    .subParagraphText20 {
        font-size: 14px;
        line-height: 20px;
    }


    .subParagraphTextBlack {
        font-size: 10px;
        line-height: 16px;
    }

    .railway3440 {
        font-size: 20.07px;
        line-height: 24.88px;
    }

    .subParagraphText1821black {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    .railway3036 {
        font-size: 16px;
        line-height: 20px;
    }
}