@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'inter';
    line-height: 1.6;
    color: #333;
    background-color: #f5f8ff;
}

/* Thunder */

.homepage-thunder {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 1000px;
}

.homepage-thunder img {
    width: 100%;
    overflow: hidden;
}




/* Navabr */


.header-nav {
    width: 100%;
    padding: 10px 112px 10px 112px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo-container {
    /* flex-basis: 20%; */
    max-width: 170px;
}

.logo-container img {
    object-fit: contain;
}

#logo-img {
    max-width: 170px;
    max-height: 37px;
}

.nav-links {
    flex-basis: 60%;
    max-width: 490px;
    max-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 45px 20px 45px;
    border-radius: 20px;
    overflow: hidden;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}

#signin-txt {
    font-family: 'raleway';
}

.nav-link.active {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auth-container span {
    min-width: 52px;
    width: fit-content;
    text-overflow: clip;
}

.register-btn {
    width: 132px;
    min-width: 100px;
    height: 48px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    border: none;
}

.animatedbg {
    background-image: url("assets/Group\ 27169.svg");
    background-position: center center;
    background-size: cover;
    background-color: #f5f8ff;
}

#mobile_view_id {
    display: none;
}

#burger_open {
    display: none;
}

#burger_close {
    display: none;
}

.mobile_view_list {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.mobile_view_list>a {
    border-bottom: 0.5px solid gray;
    padding: 5px;
    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
}

@media only screen and (max-width: 1200px) {
    .header-nav {
        padding: 10px 80px 10px 80px;
    }

    .nav-links {
        gap: 30px;
        padding: 15px 30px 15px 30px;
    }

    .auth-container {
        gap: 15px;
    }

    .register-btn {
        width: 100px;
        height: 40px;
    }


}

@media only screen and (max-width: 992px) {
    .header-nav {
        padding: 10px 20px 10px 20px;
    }

    .nav-links {
        flex-direction: row;
        gap: 15px;
    }

    .auth-container {
        flex-direction: row;
        gap: 10px;
    }

    .register-btn {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav {
        padding: 15px 20px;
        justify-content: space-between;
    }

    #burger_open {
        display: block;
    }

    .header-nav .nav-links {
        display: none;
    }

    .auth-container {
        display: none;
        padding: 10px 15px;
    }

    .register-btn {
        width: 100%;
        height: 35px;
    }
}

@media (min-width: 769px) {
    #burger_open {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .header-nav {
        padding: 10px 15px;
    }

    .header-nav .nav-links {
        display: none;
    }

    .auth-container {
        padding: 5px 10px;
    }

    .register-btn {
        width: 100%;
        height: 30px;
    }
}


/* Homepage  */

.homepage-container {
    width: 100%;
    padding-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-div {
    max-width: 764px;
    text-align: center;
    font-family: "raleway";
    margin: 104px 0px;
}

.homepage-div button {
    width: 211px;
    height: 60px;
    border-radius: 10px;
    font-weight: 400;
    color: #ffff;
    font-size: 16px;
    font-family: "inter";
    background-color: #252432;
    margin-top: 45px;
}



@media (max-width: 1200px) {
    .homepage-div {
        max-width: 600px;
        margin: 90px 0px;
    }

    .homepage-div button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .homepage-div {
        /* max-width: 400px; */
        padding: 0px 20px 0px 20px;
        margin: 50px 0px;
    }

    .homepage-div button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .homepage-div {
        max-width: 300px;
        margin: 30px 0px;
    }
}

/* Services Section  */

.services-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px 112px;
}

.services-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.services-card {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
}

.two-rows {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
    grid-row: span 2;
    gap: 40px;
}

.two-cols {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: row;
    gap: 19px;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
    grid-column: span 2;
}

.services-card-img-div {
    min-width: 44px;
    min-height: 44px;
    max-width: 44px;
    max-height: 44px;
    background-color: rgba(245, 248, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.services-card-img-div img {
    width: 24px;
    height: 24px;
}


.blue-rectangle {
    background-color: rgba(91, 84, 255, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.two-cols div:first-child {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.two-rows div:first-child {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

@media (max-width: 1200px) {

    .services-wrapper {
        padding: 0px 80px 0px 80px;
    }

    .services-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {

    .services-wrapper {
        padding: 0px 40px 0px 40px;
    }

    .services-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .two-rows {
        grid-row: unset;
    }

    .two-cols {
        grid-column: unset;
        width: 100%;
    }

    .blue-rectangle {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .services-wrapper {
        padding: 0px 20px 0px 20px;
    }

    .services-card-container {
        grid-template-columns: 1fr;
    }

    .two-rows {
        grid-row: unset;
    }

    .two-cols {
        grid-column: unset;
        width: 100%;
    }

    .blue-rectangle {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .services-wrapper {
        padding: 0px 15px 0px 15px;
    }
}

/* How it Works  */

.how-it-works-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 130px 20px 0px 20px;
}

.how-it-works-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 290px;
}

.arrow-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container div {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container div img {
    width: 24px;
    height: 24px;
}

.text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url("assets/Untitled@3-1536x735 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.how-it-works-bottom {
    width: 100%;
    max-height: 618px;
    overflow: hidden;
    margin-top: -50px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: transform 0.5s ease;
}

.carousel-item {
    padding: 35px;
    background-color: #fff;
    border-radius: 10px;
}

.carousel-item:first-child,
.carousel-item:last-child {
    width: 25%;
}

.carousel-item:nth-child(2) {
    width: 50%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

#second-img {
    opacity: 80%;
}

/* Media Queries */

@media (max-width: 480px) {
    .arrow-container {
        visibility: hidden;
    }

    .how-it-works-wrapper {
        padding: 0px 20px 0px 20px;
    }

    .how-it-works-bottom {
        max-height: 100%;
    }

    #second-img {
        opacity: 100%;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .carousel-item {
        min-width: 100%;
    }

    .how-it-works-top {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0px;
    }

    .arrow-container {
        display: none;
    }

    .text-container {
        width: 100%;
        padding-bottom: 60px;
    }

}

/* Review Section  */
.review-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 86px 0px;
}

.review-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 409px;
    border-radius: 22px;
    border: 1px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.review-inner div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-inner div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 5px;
}

.review-rating {
    font-family: 'inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(37, 36, 50, 1);
}

.review-count {
    font-family: 'inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(137, 135, 161, 1);
}

/* added media queries for responsiveness */
@media (max-width: 768px) {
    .review-inner {
        flex-direction: column;
        gap: 10px;
    }

    .review-inner div:nth-child(1) {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .review-container {
        margin: 20px 0px 20px;
    }

    .review-inner {
        padding: 10px;
    }

    .review-rating {
        font-size: 14px;
    }

    .review-count {
        font-size: 14px;
    }
}

/* Pricing Section  */

/* index.css file */

.pricing-wrapper {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pricing-inner {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pricing-left-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.left-upper-section {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 20px;
}


.left-lower-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
}


.left-lower-section button {
    max-width: 335px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}

.pricing-right-col {
    width: 60%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.right-upper-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 20px;
    gap: 30px;
}

.right-middle-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    padding: 0px 20px 0px 20px;
}

.right-middle-section>div {
    display: flex;
    gap: 15px;
}

.right-middle-section>div div img {
    width: 18px;
    max-width: 18px;
    max-height: 18px;
    height: 18px;
    color: rgba(37, 36, 50, 1);
}


.right-lower-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 248, 255, 1);
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}


.right-lower-section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Responsive styles */

@media (max-width: 1200px) {
    .pricing-inner {
        width: 80%;
    }

    .pricing-left-col {
        width: 45%;
    }

    .pricing-right-col {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .pricing-inner {
        width: 90%;
    }

    .pricing-left-col {
        width: 50%;
    }

    .pricing-right-col {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .pricing-inner {
        flex-direction: column;
    }

    .pricing-left-col {
        width: 100%;
    }

    .pricing-right-col {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .left-upper-section {
        padding-top: 0px;
        padding: 20px;
        width: 100%;
    }

    .left-lower-section {
        padding: 20px;
    }

    .right-upper-section {
        padding: 20px 0px 0px 20px;
    }

    .right-middle-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-middle-section>div div img {
        width: 16px;
        max-width: 18px;
        max-height: 18px;
        height: 16px;
        color: rgba(37, 36, 50, 1);
    }

    .right-lower-section {
        padding: 10px;
        margin: 20px;
    }

    .pricing-wrapper {
        margin: 0px;
    }

    .pricing-inner {
        gap: 20px;
        padding: 0px;
        width: 100%;
    }

    .pricing-left-col {
        gap: 20px;
    }

    .pricing-right-col {
        padding: 0px;
    }
}

/* pricing end */

.spring {
    position: absolute;
    mix-blend-mode: color-burn;
    width: 50%;
}

.spring img {
    max-width: 563px;
    width: 100%;
}

/* Frequently asked question section  */

.faq-container {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    padding: 20px;
}

.faq-header {
    text-align: center;
    margin-bottom: 40px;
}

.faq-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question p {
    cursor: pointer;
}

.question img {
    width: 24px;
    height: 24px;
}

.plus-icon {
    display: block;
    cursor: pointer;
}

.minus-icon {
    display: none;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 20px;
}

.answer.active {
    display: block;
}


.question.active .plus-icon {
    display: none;
}

.question.active .minus-icon {
    display: block;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .faq-container {
        display: inline;
    }

    .question-card {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .faq-container {
        margin: 50px auto;
    }

    .question-card {
        padding: 10px;
    }

    .question {
        font-size: 14px;
    }
}


.hr {
    border-top: 2px solid rgb(229, 225, 241);
    margin-top: 125px;
    margin-bottom: 125px;

}

.bottomstylerelative {
    position: relative;
    width: 100%;
    bottom: 0;
}


.spring2 {
    position: absolute;
    top: -100px;
    right: 50px;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.coloredanim {
    position: absolute;
    top: 100%;
    bottom: 0px;
    width: 100%;
    min-height: 1400px;
    background-image: url("assets/Group\ 27169.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.flower2 {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 200px;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.flower2 img {
    max-height: 500px;
}

@media only screen and (max-width: 1200px) {
    .flower2 img {
        max-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .flower2 img {
        max-height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .flower2 img {
        width: 100%;
        max-height: 400px;
    }

    .hr {
        margin: 30px 0px 30px 0px;
    }
}

/* Contact Section  */

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-form-container {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    gap: 10px;
}

form button {
    width: 100%;
    height: 62px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

form input {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
    background-color: rgba(245, 248, 255, 1);
    padding: 10px 30px 10px 30px;
}

form textarea {
    width: 100%;
    height: 222px;
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
    background-color: rgba(245, 248, 255, 1);
    padding: 10px 0px 0px 30px;
    resize: none;
}

.contact-form-container input::placeholder {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(137, 135, 161, 1);
}

.contact-form-container textarea::placeholder {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(137, 135, 161, 1);
}

/* added media queries for responsiveness */
@media (max-width: 768px) {
    .contact-form-container {
        width: 70%;
    }

    .contact-form-container input::placeholder {
        font-family: 'inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgba(137, 135, 161, 1);
    }

    .contact-form-container textarea::placeholder {
        font-family: 'inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgba(137, 135, 161, 1);
    }
}

@media (max-width: 480px) {
    .contact-form-container {
        width: 100%;
    }

    .contact-form-container>form {
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }

    form input,
    form textarea {
        height: 50px;
    }

    form button {
        height: 50px;
    }
}

/* Bottom Section  */

.responsive-bottom-div {
    width: 100%;
    /* flex-shrink: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.responsive-bottom-container {
    width: 85%;
    padding: 80px 70px 80px 70px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    background-color: #ffff;
    border-radius: 40px;
    border: 1px solid rgba(214, 221, 237, 1);
}

.innerBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 61px;
}

.innerBottomContainer>div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_nav_container>div:first-child {
    max-width: 370px;
}



#responsivelast>div:first-child {
    min-width: 286px;
}

#responsivelast>div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#socialicons>div {
    display: flex;
    justify-content: center;
    background: transparent;
    width: 48px;
}

#footernav {
    padding: 0px;
    margin-top: -22px;
}

/* Responsive styles */
@media (max-width: 992px) {
    .innerBottomContainer>div {
        gap: 30px;
    }

    .responsive-bottom-div {
        margin-top: 100px;
    }

    .responsive-bottom-container {
        padding: 60px 50px 60px 50px;
    }

    #footernav {
        min-width: 271px;
        padding: 0px;
    }

    .nav-link {
        white-space: nowrap;
    }

    .contact-form-container input::placeholder {
        font-size: 18px;
        line-height: 25px;
    }

    .contact-form-container textarea::placeholder {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .responsive-bottom-div {
        margin-top: 80px;
    }

    .responsive-bottom-container {
        gap: 20px;
        padding: 60px 50px 60px 50px;
    }

    .responsive-bottom-container>div {
        display: flex;
        justify-content: center;
    }

    .innerBottomContainer>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .coloredanim {
        min-height: 1200px;
    }

    #footernav {
        min-height: 100%;
        margin: 0px;
        justify-content: center;
        gap: 20px;
    }

    .footer_nav_container>div:first-child {
        max-width: 100%;
        text-align: center;
    }

    .footer_nav_container>div {
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }

    .innerBottomContainer {
        gap: 20px;
    }

    #responsivelast>div:first-child {
        min-width: 100%;
    }

    .contact-form-container input::placeholder {
        font-size: 16px;
        line-height: 22px;
    }

    .contact-form-container textarea::placeholder {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 480px) {
    .responsive-bottom-container {
        padding: 30px 20px 30px 20px;
    }

    #footernav {
        min-width: 100%;
    }

    .coloredanim {
        min-height: 900px;
    }

    .contact-form-container input::placeholder {
        font-size: 14px;
        line-height: 20px;
    }

    .contact-form-container textarea::placeholder {
        font-size: 14px;
        line-height: 20px;
    }

}